/* App.css */
body {
  font-family: Arial, sans-serif;
}

/* Header.css */
h1 {
  text-align: left;
  font-size: 2em;
  color: #333;
}

/* Pokedex.css */
.language-buttons {
  text-align: left;
  margin-bottom: 20px;
  
}

.language-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1em;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  
}
.language-buttons button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  
}

.language-buttons button.selected-language {
  background-color: #08abb1; 
  color: #ffffff;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.pokemon {
  border: 2px solid #000000;
  border-radius: 5%;
  margin: 10px;
  padding: 5px;
  width: 255px;
  text-align: center;
  box-shadow: 10px 10px 5px lightblue;
}
.pokemon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  margin: 10px;
  box-shadow: 10px 10px 5px rgb(20, 80, 100);
}

.pokemon img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  
}

.pokemon img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  
}
.pagination{
  margin-bottom: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1em;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.pagination button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.pagination button.current-page-button {
  background-color: #08abb1; 
  color: #ffffff; 
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Pokemon.css */
.pokemon-name {
  font-weight: bold;
}

